
.navbar-brand img{
    height: 40px;
} 
#nav-bar, ul, li, a:hover{
    color: #007bff !important;

}
.navbar-light{
    background-color:white !important;
    
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
    color: black;
}
#cv{
    margin-left: 30px;
}
hr{
    width: 400px;
}

.carousel-caption{
color: black;
padding-top: 5%;
}
h1{
    font-size: 35px;
    color: black;
}
h5{
   font-size: 20px;
   color: #333 !important;
}


.imgformat{
    position: relative;
    top: 25px;
    width: 700px;
    height: 1000px;
    border-radius: 50% !important;
}


/* ----------About----------- */

#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-top: 20px;

}
.skills-bar{
    padding-top: 100;
}

.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar{
border-radius: 16px;
}
.progress{
    border-radius: 16px!important;
}
/* ------------------services----------------- */
#services{
    background-image: linear-gradient(rgba(0,0,0,0,8),rgba(0,0,0,0p,8)) !important;
    background-image: url(2.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    color: #efefef !important;
    background-attachment: fixed !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    
}
#services h2{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;

}
#services h2::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;

}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;

}
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
    
}
.services .col-lg-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/*-----------------Testmonials-----------------*/

#testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h2::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 200px;
    margin: 20px auto 5px;
}
h2{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
#testimonials .row{
    margin-top: 30px;
}
.col-lg-12{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;

}
.profile img{
    top: -60px;
    position:absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
/* ---------------- get in Touch -------------------------*/
#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;

}
.contact-form{
    padding: 15px;
}
.form-control{
    border: none !important;
    border-radius: 0 !important;
}
::placeholder{
    color: #999 !important;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.follow1{
    margin: 5px;
}
.follow1 b{
    color: #fff;
    
}
.contact-info .fab, .fa-phone, .fa-envelope{
margin: 13px;
color: #007bff;
font-weight: bold;
}
/* ----------Footer---------- */
#footer{
    background: #333;
    color: #fff;
    padding: 9px;
}

 /* -----------------smooth scroll------------------- */
html {
    scroll-behavior: smooth;
  }
 
  
  
/*------------------------------------------About Page--------------------------*/
body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.btn-primary{
    margin-left: 30px;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}
.masthead a {
    position: relative;
    left: 100px;
}
.masthead {
  padding: 6em 0;
  background-image: url('img/aaa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #007bff;
}

.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    /* Layout Declarations */
    color: #007bff;
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}
.masthead p{
    color: #F7EDE1;
}

.masthead {
  padding: 6em 0;
  background-image: url('aaa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #007bff;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}
h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: rgb(18, 20, 20);
  text-decoration: none;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}
.content-footer > p {
  color: rgb(238, 233, 226);
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
}
  
@media only screen and (max-width: 300px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer {
        padding: 2em 2.5em;

  }
  .masthead{
      padding: 0em;
  }
  button{
      padding: 0%;
  }
}



/* hr */
/* Glyph, by Harry Roberts */


